<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico.jpg' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <div class="header-container">
            <nav class="nav-left">
                <a href="/" class="logo-link">
                    <img src="{% static 'images/KC Old Logo (1).png' %}" alt="KCSF Logo" class="logo-image">
                </a>
            </nav>
            <nav class="nav-center">
                <ul class="nav-list">
                    <ul class="nav-item"><a href="/form/" class="nav-link">Form</a></ul>
                    <ul class="nav-item"><a href="/parts/" class="nav-link">Parts</a></ul>
                    <ul class="nav-item"><a href="/database/" class="nav-link">Database</a></ul>
                    <ul class="nav-item"><a href="/api/" class="nav-link">API</a></ul>
                    <ul class="nav-item"><a href="/metrics/" class="nav-link">Sales Performance</a></ul>
                </ul>
            </nav>
        </nav>
        <nav class="nav-right">
            <div class="auth-section">
                {% if user.is_authenticated %}
                <ul>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" style="background:none; border:none; padding:0; color:rgb(255, 255, 255); text-decoration:underline; cursor:pointer">
                            Logout
                        </button>
                    </form>
                </ul>
            {% else %}
                <ul><a href="{% url 'login' %}">Login</a></ul>
            {% endif %}
            </div>
        </nav>

        </div>
        <div class="banner"></div>
    </header>
    <main>
        {% block content %}
        <!-- Default content goes here if not overridden -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 KCSF Central. All rights reserved.</p>
    </footer>

    {% block extra_js %}
        <script src="{% static 'base.js' %}"></script>
    {% endblock %}
</body>
</html>
