<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <a href="/">
            <img src="{% static 'images/KC Old Logo (1).png' %}" alt="KCSF Logo">
        </a>
        <nav>
            <ul>
                <a href="/form/">Form</a> <a href="/database/">Database</a> <a href="{% url 'api_feature' %}">API</a> <a href="/metrics/">Sales Performance Page</a>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Default content goes here if not overridden -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 KCSF Central. All rights reserved.</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
